* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    cursor: inherit;
}

html,
body {
    max-width: 100vw;
    overflow: hidden;
    cursor: default;
}


a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-RegularItalic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito/Nunito-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}
